<div class="page" id="page-about">
			<header class="header">
				<h1 class="title flow-txt">About Me</h1>
				<span class="console">_</span>
				<p class="desc">Developer | Geek | Gamer</p>
				<p class="info">
I write code for a living and I love what I do.

<br/><br/>
<span style="color:rgb(12, 156, 39)">TL;DR</span>
Full stack web developer with over 6 years of experience in building applications across perl, python and javascript stacks, developing RESTful APIS against SQL and NoSQL databases, big data analytics systems and building correpsonding user inferfaces. I am proficent in end to end development, from requirement analysis to writing design documents to development and delivery of feature with unit tests.
<br/><br/>
<span style="color:rgb(12, 156, 39)">More.</span>
I have a Bachelors degree in Computer Science, while in college I learned C and C++, did my projects on .net and android.
After graduation, I started on a path to become a web developer.
<br/><br/>
I began at the backend with perl, CGI framework and MSSQL. Then I picked up Catalyst framework and the usual flavours of frontend - HTML, CSS and Javscript.
After two years in perl I realized it's time to pick up another language, Python seemed like an obvious choice.

I've build apps in Django, MySQL along with Angular.js, Material design lite and Bootstrap.
<br/><br/>

Next I switched my focus on to javascript. I wrote a few plugins in js and started looking in to Node.js.
I had quite a bit of fun with it that I decided to build this protfolio in Node.js to replace my rather heavy perl catalyst website and blog.

Lately I've been working closely with anlytics teams developing APIs which query big data systems, using Elasticsearch and Cassandra on backend.

I'm a curious lad. I like to learn new things and occasionally write about them on my blog.
				</p>
			</header>

			<!-- <img class="poster" src="images/ksankar.jpeg" alt="My Portrait" /> -->
</div>
