<div class="page" id="page-about">
			<header class="header">
				<h1 class="title funky-txt">About Me</h1>
				<p class="desc">Developer | Geek | Gamer</p>
				<p class="info">
I write code for a living and I love what I do. While in college, like most developers, I started with C and C++.
I did my college projects on to ASP.NET MVC and thereafter dabbled with Android app development.
After graduation, I started on a path to become a web developer.
<br/><br/>
I began at the backend with perl, CGI framework and MSSQL. Then i picked up Catalyst framework and the usual flavours of frontend - HTML, CSS and Javscript and various plugins.
After a few years in perl i realized it's time to pick up another language, Python seemed like an obvious choice. So i picked it up and proceeded to build apps in Django, MySQL along with Angular.js and Material design lite.
<br/><br/>
Next i switched my focus on to javascript. I have written a plugin in jquery and few in vanilla js. Recently i decided to look in to Node.js.
It's awesome and i had quite a bit of fun with it that i decided to build a new protfolio in Node.js to replace my heavy perl catalyst website and blog.

I actively experiment and create pens @codepen and occasionally write about tech on my blog.

				</p>
			</header>

			<!-- <img class="poster" src="images/about.jpg" alt="My Portrait" /> -->
</div>
