<div class="page" id="page-about">
			<header class="header">
				<h1 class="title">About Me</h1>
				<p class="desc">I love to code.</p>
				<p class="info">
          I write code for a living and I love what I do. While in college, like most developers, I started with C and C++. I moved on to ASP.NET MVC and thereafter dabbled with Android app development. After graduation, I started on a path to become a web stack developer.
In the past 3.5 years I've worked maily on Perl (CGI & Catalyst), MySQL, MSSQL and the usual flavours of frontend - HTML, CSS and Javscript and various plugins. I have written a plugin in jquery and another in OO js and published them on the lab section of my site. I actively experiment and create pens @codepen and write about tech on my blog.
My home page's built on a parallax design, my lab's esponsive bootstrap design and my blog's . Scroll down, explore and let me know what you think ;)
				</p>
			</header>
			<img class="poster" src="images/6.jpg" alt="img06" />
</div>
