<div class="page" id="page-contact">
			<header class="header">
				<h1 class="title funky-txt">Get in Touch</h1>
				<p class="desc">Use the form below</p>
					<div class="container">
						<div class="row">

							<div class="column">
								<form>
								<fieldset>
									<label for="nameField">Name</label>
									<input type="text" id="nameField" required>

									<label for="nameField">Email</label>
									<input type="email" id="emailField" required>

									<label for="commentField">Comment</label>
									<textarea placeholder="What's up…" id="commentField" required></textarea>

									<div class="float-right">
										<input type="checkbox" id="confirmField">
										<label class="label-inline" for="confirmField">Send a copy to yourself</label>
									</div>

									<input class="button-primary" type="submit" value="Send">
								</fieldset>
								</form>
							</div>

							<div class="column">
								Or Email me:
								<a href="mailto:kailash.sankar@outlook.com" target="_top">kailash.sankar@outlook.com</a>
							</div>

						</div>
					</div>

			</header>
</div>
