<div class="page" id="page-experience">
			<header class="header">
				<h1 class="title flow-txt">Experience</h1>
				<span class="console">_</span>
				<p class="desc">I have more than 6 years of experience in full stack web development across multiple stacks and platforms.
					Checkout my <a href="https://www.linkedin.com/in/kailash-sankar/">linkedin</a> page for details.</p>
				<div class="timeline">

					<div class="tl-item" tl-title="December 2017">
						<h1>ColorTokens</h1>
						<p class="tl-sub-title">Software Engineer</p>
						<p class="tl-description"> Unified Threat Visibility and Analytics (UTVA) </p>
						<p class="tl-description"> Agent Simulator </p>
					</div>

					<div class="tl-item" tl-title="October 2015">
						<h1>Wells Fargo</h1>
						<p class="tl-sub-title">Apps Programmer / Analyst</p>
						<p class="tl-description"> Physical Access Management System (PAMS)</p>
					</div>

					<div class="tl-item" tl-title="October 2012">
						<h1>Symphony Teleca</h1>
						<p class="tl-sub-title">Software Engineer</p>
						<p class="tl-description"> Eaccreditation (EA) </p>
						<p class="tl-description"> Centrailized Application Service (CAS) </p>
					</div>

				</div>
			</header>
</div>
