<div class="page" id="page-experiance">
			<header class="header">
				<h1 class="title funky-txt">Experience</h1>
				<p class="desc">I have more than 4.5 years of web development experiance. Checkout my linkedin page for details.</p>
				<div class="timeline">

					<div class="tl-item" tl-title="October 2015">
						<h1>Wells Fargo</h1>
						<p class="tl-sub-title">Apps Programmer / Analyst</p>
						<p class="tl-description"> Physical Access Management System (PAMS)</p>

					</div>

					<div class="tl-item" tl-title="October 2012">
						<h1>Symphony Teleca</h1>
						<p class="tl-sub-title">Software Engineer</p>
						<p class="tl-description"> Eaccreditation (EA) </p>
						<p class="tl-description"> Centrailized Application Service (CAS) </p>
					</div>

				</div>
			</header>
</div>
