<nav class="pages-nav">
		<div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-about">About Me</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-skills">Skills</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-experience">Experience</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-blog">Blog</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-projects">Projects</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-site">Site</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-map"></a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-contact">Contact</a></div>
		<div class="pages-nav__item pages-nav__item--social">
			<a class="link link--social link--faded" target="_BLANK" href="https://github.com/Kailash-Sankar">
				<img class="social-ico" src="/images/ico/github.png" alt=Github/> </a>
			<a class="link link--social link--faded" target="_BLANK" href="https://codepen.io/kailash-sankar/">
				<img class="social-ico" src="/images/ico/codepen.png" alt=Codepen/> </a>
			<a class="link link--social link--faded" target="_BLANK" href="https://in.linkedin.com/pub/kailash-sankar/58/b0b/a1a">
				<img class="social-ico" src="/images/ico/linkedin.png" alt=LinkedIn/> </a>
		</div>
	</nav>
