<div class="page" id="page-projects">
			<header class="header">
				<h1 class="title funky-txt">Projects</h1>
				<p class="desc">Personal weekend projects, done mostly to learn new things. Links to my github and codepen profile.</p>
				<p class="info">

				<div class="container">

				  <div class="row">
				    <div class="column">
							<div class="project-title"> Feedback app </div>
							<div class="project-subtitle">Django, MySQL, Angular.js, Material Design Lite</div>
							<div class="project-desc">A customizible feedback application for work facilites like Cafeteria, Transport etc..</div>
							<div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/feedback_app">More</a></div>
						</div>
				    <div class="column">
							<div class="project-title"> Q & A app </div>
							<div class="project-subtitle">Django, MySQL, Angular.js, Material Design Lite</div>
							<div class="project-desc">A light stackoverflow like app in Django and Material desgin</div>
							<div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/agog">More</a></div>
						</div>
						<div class="column">
							<div class="project-title"> Portfolio and Blog </div>
							<div class="project-subtitle">Perl, Catalyst framework, Skrollr.js, Parallax, Bootstrap</div>
							<div class="project-desc">Old portfolio, work showcase, frontend lab and fully functional blog</div>
							<div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/ksankar.in">More</a></div>
						</div>
				 </div>

				 <div class="row">
					 <div class="column">
						 <div class="project-title"> Static </div>
						 <div class="project-subtitle">Node.js, Express, Jquery, W3C.css</div>
						 <div class="project-desc">A static company website in Node.js, express and W3C.css</div>
						 <div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/node_app">More</a></div>
					 </div>
					 <div class="column">
						 <div class="project-title"> Codepen </div>
						 <div class="project-subtitle">All things frontend</div>
						 <div class="project-desc">I occassionaly create pens on codepen. Mostly for learning new things.</div>
						 <div class="project-link"><a target="_BLANK" href="https://codepen.io/kailash-sankar/">More</a></div>
					 </div>
					 <div class="column">
						 <div class="project-title"> Collections </div>
						 <div class="project-subtitle">All things frontend</div>
						 <div class="project-desc">A more organized look at my profile on codepen.
							 Includes angular, layouts, element designs and plugins</div>
						 <div class="project-link"><a target="_BLANK" href="https://codepen.io/kailash-sankar/collections/popular/">More</a></div>
					 </div>
				</div>

				<div class="row">
					<div class="column">
						<div class="project-title"> Five Days of Python </div>
						<div class="project-subtitle">Python, Bottle</div>
						<div class="project-desc">Learning essentials of pyhton in five days</div>
						<div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/learning_python">More</a></div>
					</div>
					<div class="column">
						<div class="project-title"> DSA </div>
						 <div class="project-subtitle"> Python and Perl </div>
						<div class="project-desc">Solving DSA puzzles in perl and python</div>
						<div class="project-link"><a target="_BLANK" href="https://github.com/Kailash-Sankar/dsa">More</a></div>
					</div>
						<div class="column">
							<!--
							<div class="project-title"> PWA </div>
							 <div class="project-subtitle"> Python, Flask, MongoDB, Spectre.css, Vue.js </div>
							<div class="project-desc">Too early to write about it.</div>
						-->
						</div>
			 </div>

				</div>

				</p>
			</header>
</div>
