<div class="page" id="page-site">
			<header class="header">
				<h1 class="title funky-txt">Site Info</h1>
				<p class="desc">Thanks to all these plugins and tutorials.</p>
				<div class="info">
					<ul>

					  <li class="header-li"><span>Backend</span>
								<ul>
									<li>Node.js, Express</li>
									<li>Node-Sass, Nunjucks</li>
								</ul>
						</li>

					  <li class="header-li"><span>Frontend</span>
							<ul>
								<li>Particle.js by Vincent Garreau</li>
								<li>Page stack naviation by Mary Lou @Codrops</li>
								<li>Milligram CSS framework</li>
								<li>Plenty of tutorials</li>
							</ul>
						</li>

						<li class="header-li"><span>Database</span>
							<ul>
								<li>MongoDB</li>
							</ul>
						</li>

					</ul>

				</div>
			</header>
</div>
