<div class="page" id="page-site">
			<header class="header">
				<h1 class="title flow-txt">Site Info</h1>
				<span class="console">_</span>
				<p class="desc">Grazie Mille</p>
				<div class="info">
					<ul>

					  <li class="header-li"><span>Backend</span>
								<ul>
									<li>Node.js, Express</li>
									<li>Node-Sass, Nunjucks</li>
								</ul>
						</li>

					  <li class="header-li"><span>Frontend</span>
							<ul>
								<li><a href="http://vincentgarreau.com/particles.js/">Particle.js</a> by Vincent Garreau</li>
								<li>Page stack naviation by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou @Codrops</a></li>
								<li><a href="http://milligram.io">Milligram</a> CSS framework</li>
								<li>Unrelenting Google search</li>
							</ul>
						</li>

						<li class="header-li"><span>Blog</span>
							<ul>
								<li><a href="http://jsantell.github.io/poet/">Poet</a> by Jordan Santell</li>
							</ul>
						</li>

					</ul>

				</div>
			</header>
</div>
