body {
  background-color:#212F3D;
  color:#F0F3F4;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$lc_main : aqua;
$lc_sub : #6640ab;
$lc_alt: #84c741;

.blog-main {

}

.blog-side-bar {
  border-left: 1px solid $lc_main;

  .filters-co {
    h6 {
      margin-bottom: 0.5em;
    }
  }
}

.blog-title {
  border-bottom: 1px solid $lc_main;
  font-size: 2.5em;
  margin: 0.6em 0;
}

.post-entry {
  border-bottom: 1px solid $lc_sub;

  h1  {
    margin: 1em 0 0.5em 0;
  }
}

.post-preview {
  p {
    margin-bottom: 1em;
  }

  .poet-read-more {
    margin-bottom: 0em !important;
  }

}

.post {
    .title {
      border-bottom: 1px solid rgba(0, 255, 255, 0.14);
      color: $lc_sub;
      text-shadow: 2px 2px 2px rgba(125, 82, 204, 0.89),
      5px 5px 5px rgba(96, 38, 204, 0.73);
  }
}
