body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#0e0f0f;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141720;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 1s ease-in;
}

.intro {
  color: snow;
  border: 0px solid rgba(250, 250, 250, 0.1);
  padding: 20px;
  text-align: center;
  z-index:99;
  cursor: pointer;

  .title {
    font-size:70px !important;
    font-family: 'VT323', monospace;
  }

  .sub-title {
    font-size:18px;
  }
}

.intro:hover + #particles-js {
  transform: scale(1.5);
}

a {
  text-decoration: none;
  color: #5c5edc;
  outline: none;
}

a:hover {
  color: #fff;
}

/* -- page styles -- */

.page {

  .header {
    padding: 6em 10vw 2em;
    color: #fff;
  }

  .title {
    font-size: 2.125em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: aqua;
    font-family: 'VT323', monospace;
  }

  .desc {
    font-size: 0.95em;
    margin: 0.5em 0 1em;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  }

  .info {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
  }

}

@media screen and (max-width: 40em) {
  .page {
      overflow-y: auto !important;
    .header {
      padding: 50px 20px 1em;
    }
    .title {
      font-size: 1.8em;
    }
  }
}


/* -- custom page colors -- */
#page-skills {
  background-color: #FF6F00;
}

#page-experiance {
  background-color: #004d40;
}

#page-blog {
  background-color: darkslategrey;
}

#page-projects {
  background-color: palevioletred;
}

#page-about {
  background-color: teal;
}


/* -- experiance timeline -- */

.timeline {
  margin:2px auto;

  .tl-item {
    padding:1em 2em;
    color:rgba(white,0.9);
    border-left:1px solid aqua;
    position: relative;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      &::before {
  		content: attr(tl-title);
  		position: absolute;
  		left: 1em;
  		font-weight: bold;
  		top: 1.25em;
  		display: block;
  		font-weight: 700;
  		font-size: .75rem;
  	}

  	&::after {
  		width: 10px;
  		height: 10px;
  		display: block;
  		top: 1em;
  		position: absolute;
  		left: -5.56px;
  		border-radius: 10px;
  		content: '';
  		border: 1px solid aqua;
  		background: #004d40;
  	}

  }

}

/* -- skill stack animation -- */
.skill-cloud {
  transition:all 1.5s ease-in;
}

.skill-cloud:hover {
  transform: scale(1.5) rotate(360deg);
}

/* -- social icons -- */

.social-ico {
  width:32px;
  height:32px;
}

.social-ico:hover {
  webkit-filter: drop-shadow(8px 8px 10px rebeccapurple);
  filter: drop-shadow(1px 1px 1px rebeccapurple);
}


/* -- media queries -- */


/* Larger than mobile screen */
@media (min-width: 80.0rem) {

}
