// colors
$orange: #FFA500;
$shadow: #1d1f20;
$white: #eeeeee;
$black : #333;

body {
  background: $black;
}

// utils
.fix-on-window {
  position: fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:99;
}

.center-this {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position:absolute;
}

.preloader {
  /*
  background: #67B26F;
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
  background: linear-gradient(to right, #4ca2cd, #67B26F);
  */
  font-family: "Lato", sans-serif;
  /*
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
  background: linear-gradient(to right, #928DAB, #00d2ff);
  */
  background-color:rgba(250, 250, 250, 0.89); //#fafafa;

  @extend .fix-on-window;
}

.above {
  @extend .center-this;
  animation: fadeIn 0.4s linear 0.3s forwards, slideUp 1.5s ease-in 0.2s forwards;
}

.below {
  @extend .center-this;
  animation: fadeIn 0.8s linear 0.3s forwards, slideDown 0.8s ease-in 0.2s forwards;
}

.middle {
  @extend .center-this;
}

.anim-co {
  height:250px;
  width:400px;
  overflow:hidden;
  text-align: center;
  @extend .center-this;
  &.top {
    transform: translate(-50%,-100%);
  }
  &.bottom {
    transform: translate(-50%,0%);
  }
}


.logo {
  font-size:26px;
  color:beige;
  @extend .above;
  opacity:0;
  width:100%;
  img {
    height: 240px;
    width: 240px;
    opacity:0;
  }
}

.seperator {
  width:100%;
  height:2px;
  border-bottom:2px solid #eee;
  opacity:0.67;
}

.loader {
  @extend .below;
  opacity:0;
  width:100%;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translate(-50%,-200%);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%,200%);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}

@keyframes shrink {
  0% {
    height: 100%;
  }
  100% {
    height: 40%;
  }
}

/* progress button */
.button-hue1 {
  /*
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
  */
  background-color:#a0a8af;
  background-color:#46b0d6;
}

*, *:after, *::before { box-sizing: border-box; }

.progress-button {
	position: relative;
	display: inline-block;
	padding: 0 60px;
	outline: none;
	border: none;
  background-color: #f1f1d9;
	color: lighten(#000,10%);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 4;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
	position: absolute;
	right: 20px;
	color: #0e7138;
	font-family: "icomoon";
	opacity: 0;
	transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
	content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
	content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition {
	transition: none !important;
}

.progress-button .progress {
	background: #148544;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	@extend .button-hue1;
}

.progress-button[data-horizontal] .progress-inner {
	top: 0;
	width: 0;
	height: 100%;
	transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] {
	overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
