<div>
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/css/component.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</div>

<div class="content">
  <div class="intro title">
     Hakuna Matata
     <div class="breaker"></div>
  </div>

  <div class="para sub-title">
     Schrödinger's cat is a thought experiment, sometimes described as a paradox,
     devised by Austrian physicist Erwin Schrödinger in 1935.
      It illustrates what he saw as the problem of the Copenhagen interpretation of quantum mechanics
      applied to everyday objects. The scenario presents a cat that may be simultaneously both alive
      and dead, a state known as a quantum superposition, as a result of being
      linked to a random subatomic event that may or may not occur.
      The thought experiment is also often featured in theoretical discussions of the interpretations
      of quantum mechanics. Schrödinger coined the term Verschränkung (entanglement) in the course of
      developing the thought experiment.
  </div>
</div>


<svg class="hidden">
			<symbol id="icon-caret" viewBox="0 0 24 24">
				<title>caret</title>
				<polygon points="15.7,16.6 11.1,12 15.7,7.4 14.3,6 8.3,12 14.3,18"/>
			</symbol>
			<symbol id="icon-menu" viewBox="0 0 24 24">
				<title>menu</title>
				<path d="M23.7,3H0V0h23.7V3z M23.7,7.5H0v3h23.7V7.5z M18.9,15h-14v3h14V15z"/>
			</symbol>
			<symbol id="icon-cross" viewBox="0 0 24 24">
				<title>cross</title>
				<path d="M14.1,12l7.3,7.3l-2.1,2.1L12,14.1l-7.3,7.3l-2.1-2.1L9.9,12L2.6,4.7l2.1-2.1L12,9.9l7.3-7.3l2.1,2.1L14.1,12z"/>
			</symbol>
</svg>

<nav class="tabsnav tabsnav--ibai tabsnav--hidden tabsnav--hidden-default">
				<div class="tabsnav__item">
					<div class="tabsnav__bar"></div>
					<h3 class="tabsnav__title">About</h3>
				</div>
				<div class="tabsnav__item">
					<div class="tabsnav__bar"></div>
					<h3 class="tabsnav__title">Products</h3>
				</div>
				<div class="tabsnav__item">
					<div class="tabsnav__bar"></div>
					<h3 class="tabsnav__title">Contact</h3>
				</div>
</nav>

<button class="btn btn--menu">
      <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
      <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
</button>


<div class="tabscontent">
  <div class="tabscontent__item">
    <div class="box">
      <h3 class="box__title">About the company</h3>
    </div>
  </div>
  <div class="tabscontent__item">
    <div class="box">
      <h3 class="box__title">Here are the products</h3>
    </div>
  </div>
  <div class="tabscontent__item">
    <div class="box">
      <h3 class="box__title">How to contact us</h3>
    </div>
  </div>
  <button class="btn btn--back"><svg class="icon icon--caret"><use xlink:href="#icon-caret"></use></svg></button>
</div>

<div>
  <script src='/js/anime.min.js'></script>
  <script src='/js/enquire.min.js'></script>
  <script src='/js/tabsnav.js'></script>
  <script src='/js/home.js'></script>
</div>
