<html>
<head>
  <title>wolfsbane</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/milligram.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/component.css" />
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src='/js/particles.min.js'></script>
  <script src='/js/modernizr.js'></script>
  <script src='/js/classie.js'></script>
  <script src='/js/jquery.min.js'></script>
</head>
<body>
  <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
  {% include 'stacks/nav.html' %}


  <main class="pages-stack">
    {% include 'stacks/home.html' %}

    {% include 'stacks/about.html' %}

    {% include 'stacks/skills.html' %}

    {% include 'stacks/experience.html' %}

    {% include 'stacks/blog.html' %}

    {% include 'stacks/projects.html' %}

    {% include 'stacks/site.html' %}

    {% include 'stacks/contact.html' %}

  </main>
  <button class="menu-button" id="menu_btn"><span>Menu</span></button>

</body>
  <script src='/js/particlesjs-config.js'></script>
  <script src='/js/stack_nav.js'></script>
  <script src='/js/mo_code.js'></script>
</html>
