body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0f0f; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141720;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 1s ease-in; }

.intro {
  color: snow;
  border: 0px solid rgba(250, 250, 250, 0.1);
  padding: 20px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
  width: 30em; }
  .intro .title {
    /* font-size:70px !important;
      color:aqua !important;
    */
    font-family: 'VT323', monospace; }
  .intro .sub-title {
    font-size: 18px; }

.intro:hover + #particles-js {
  transform: scale(1.5); }

a {
  text-decoration: none;
  color: #d4fff1;
  outline: none; }

a:hover {
  color: aqua; }

/* -- page styles -- */
.page {
  font-family: 'Nunito', sans-serif; }
  .page .header {
    padding: 6em 10vw 2em;
    color: whitesmoke; }
  .page .title {
    font-size: 3.8em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0b0e0e;
    font-family: 'VT323', monospace; }
  .page .desc {
    font-size: 0.95em;
    margin: 0.5em 0 1em;
    padding: 0;
    font-family: 'Nunito', sans-serif; }
  .page .info {
    font-family: 'Nunito', sans-serif;
    text-align: justify; }

@media screen and (max-width: 40em) {
  .page {
    overflow-y: auto !important; }
    .page .header {
      padding: 50px 20px 1em; }
    .page .title {
      font-size: 1.8em; }
    .page .console {
      font-size: 1em; } }

/* -- custom page colors --
  simplifed to a single one as part of yearly redesign
*/
#page-skills {
  background-color: #242424; }

#page-experience {
  background-color: #242424; }

#page-blog {
  background-color: #242424; }

#page-projects {
  background-color: #242424; }

#page-about {
  background-color: #242424; }

#page-site {
  background-color: #242424; }

/* -- experiance timeline -- */
.timeline {
  margin: 2px auto; }
  .timeline .tl-item {
    padding: 1em 2em;
    color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid aqua;
    position: relative; }
    .timeline .tl-item h1 {
      font-size: 2rem; }
    .timeline .tl-item p {
      font-size: 1rem; }
    .timeline .tl-item p.tl-sub-title {
      margin-top: -1.6em;
      margin-bottom: 1em; }
    .timeline .tl-item p.tl-description {
      margin-bottom: 0.5em; }
    .timeline .tl-item::before {
      content: attr(tl-title);
      position: absolute;
      left: 1em;
      font-weight: bold;
      top: 1.25em;
      display: block;
      font-weight: 700;
      font-size: .75rem; }
    .timeline .tl-item::after {
      width: 10px;
      height: 10px;
      display: block;
      top: 1em;
      position: absolute;
      left: -5.56px;
      border-radius: 10px;
      content: '';
      border: 1px solid aqua;
      background: #004d40; }

/* -- skill stack animation -- */
.skill-cloud {
  transition: all 1.5s ease-in; }

.skill-cloud:hover {
  transform: scale(1.5) rotate(360deg); }

/* -- social icons -- */
.social-ico {
  width: 32px;
  height: 32px; }

.social-ico:hover {
  webkit-filter: drop-shadow(8px 8px 10px rebeccapurple);
  filter: drop-shadow(1px 1px 1px rebeccapurple); }

/* -- text effects -- */
.funky-txt {
  font-size: 54px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 2px;
  text-shadow: -3px 0 0 rgba(233, 30, 99, 0.7), 3px 0 0 rgba(123, 65, 216, 0.7);
  animation: flicker 0.15s linear infinite;
  position: relative; }

@keyframes flicker {
  0% {
    text-shadow: -3px 0 0 rgba(233, 30, 99, 0.7), 3px 0 0 rgba(123, 65, 216, 0.7); }
  100% {
    text-shadow: 0px 0 0 rgba(255, 0, 0, 0.7), 0px 0 0 rgba(0, 255, 255, 0.7); } }

.flow-txt {
  position: relative;
  background-image: -webkit-linear-gradient(#333 50%, #00da29 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 2px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block; }

@keyframes stripes {
  100% {
    background-position: 0 -50px; } }

.console {
  font-size: 2.5em;
  color: #00da29;
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* -- project text -- */
.project-title {
  margin: 10px 0px;
  font-size: 2em;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  transition: all 0.4s ease-in;
  cursor: pointer; }

.project-subtitle {
  font-size: 1em;
  margin-bottom: 6px;
  margin-top: -9px; }

.project-desc {
  font-size: 1.15em;
  margin-bottom: 20px; }

.project-desc:after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #eee;
  position: relative; }

.project-link {
  border-bottom: 1px solid rgba(255, 250, 250, 0.3);
  width: 100px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center; }

#page-projects .column {
  transition: all 0.4s ease-in; }

#page-projects .column:hover {
  background-color: #000; }

#page-projects .column:hover .project-title {
  text-shadow: -2px 2px 1px #00da29;
  color: #0f8c26; }

/* -- site info -- */
.header-li {
  list-style: none; }
  .header-li span {
    border-bottom: 1px solid #795548; }

/* -- mo.js -- */
.mo-mouse-anim {
  z-index: 9; }

/* -- media queries -- */
/* Larger than mobile screen */
