<html>
<head>
  <title>Save The Date</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/milligram.css" />
  <link rel="stylesheet" type="text/css" href="/css/bliss.css" />
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> -->

  <script src='/js/jquery.min.js'></script>
</head>
<body>
  <script src="/js/mo.min.js"></script>
  <main class="our-canvas" id="our_canvas">
    <div class="nav"><a href="/">&#128151;</a></div>
    <h1 class="main-title">
      Kailash
      <br/><span class="heart" id="heart">♥</span><br/>
      Dhanya
    </h1>
    <div class="invite" style="display:none;">
      <div class="header">Save the Date</div>
      <div class="content">
        <span class="sec">On</span>
        January 7th 2019
        <span class="sec">At</span>
        BMN Kalyana Mandapam<br/>
        Mettupalayam Road<br/>
        Gounder Mill Post<br/>
        Coimbatore
        <br/>
        <span class="foot">RSVP to 855 314 5817</span>
      </div>
    </div>

    <div class="music">
      <audio controls autoplay loop style="opacity: 0.5;">
        <source src="/media/flute.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </main>
  <button class="menu-button" id="menu_btn"><span>Menu</span></button>
  <script src="/js/bliss.js"></script>
</body>
</html>
